<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{PROJECT_NAME}}</title>

    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main class="container">
      <h1>Welcome to {{PROJECT_NAME}}</h1>
      <p>This project was created using VLI</p>
      <button id="incrementButton">Increment</button>
      <h3 id="count">0</h3>
    </main>

    <script type="module" src="./script.js"></script>
  </body>
</html>
