<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>{{PROJECT_NAME}}</title>

  <link
    rel="stylesheet"
    href="./style.css"
  >
</head>

<body>

  <main>
    <h1>
      Welcome to {{PROJECT_NAME}}
    </h1>

    <p>
      This project was created using VLI Vanilla.
    </p>
  </main>


  <script
    type="module"
    src="./script.js"
  ></script>

</body>
</html>